@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Salsa&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

$fuenteUno: "Salsa", cursive;
$fuenteBase: 'Source Sans 3', sans-serif;
$tamañoFuenteBody: 20px;
$fuenteTitulos: "Berkshire Swash", serif;
$letraBlanca: #ffffff;
$colorBase1: green;
$colorBase2: yellow;
$colorBase3: black;
$bordes: 3px solid black;
$bordesHover: 3px solid rgb(0, 0, 0);
$sombraTexto: 5px -2px 4px gold;
$sombraTextoWhite: 2px 2px 5px white;
$sombraTextoBlack: 2px 2px 5px black;
$sombraBox: 2px 0px 10px 5px gold;
$colorFondo1: rgb(69, 255, 1);
$colorFondo2: purple;
$colorFondo3: rgba(34, 139, 34, 0.674);

@mixin estiloFotos1{
  border: 3px solid black;
  border-radius: 10px;
  transition: 0.3s;
}
@mixin estiloFotosHover1{
  border: 5px solid gold;
  transform: scale(1.1);
  transition: all 0.3s;
}
@mixin botonesHover{
  background-color: $colorFondo1;
  border: $bordesHover;
  box-shadow: $sombraBox;
}
%estilosBotones{
      width: fit-content; 
      text-align: center;
      margin: 10px;
      color: $letraBlanca;
      background-color: $colorBase1;
      border: $bordes;
      padding: 5px;
      text-decoration: none;
      border-radius: 10px;
}

/* En general */
h1,
h2,
h3 {
    font-family: $fuenteTitulos;
}
body {
    color: $letraBlanca;
    font-family: $fuenteBase;
    background-image: linear-gradient(to top,
    #00ff00,
    #2ecc33,
    #27ae32,
    #239621,
    #1e8423,
    #196f27,
    #138d2b,
    #117a11,
    #0e6615,
    #0b500f);
    font-size: $tamañoFuenteBody;
}
.navbar {
    font-size: 25px;
    background-color: $colorBase1;
    list-style: none;
    padding: 25px;
    background-size: cover;
    .nav-item {
        padding: 40px;
      } 
      .navbar img {
        margin-right: 25px;
      }
      #barraDrop {
        color: $colorBase2;
      }
      .redes i {
        padding-right: 5px;
      }
  }
.footer {
  background-color: $colorBase1;
  font-size: 20px;
  margin-top: 25px;
  .parteLogo{
    i{
      font-size: x-large;
      padding: 10px;
      transition: 0.5s;
    }
    & i:hover{
      animation-name: aumentoIcono;
      animation-duration: 1s;
      transition: 0.5s;
      @keyframes aumentoIcono {
        0%{
          font-size: x-large;
        }
        50%{
          font-size: xx-large;
        }
        100%{
          font-size: x-large;
        }
      }
    }  
  }
  .lista1{
    ul{
      li{
        i{
          padding: 10px;
        }
      }
    }
  }
  .ubicacion{
    flex-direction: column;
  }
  .copyright{
    background-color: rgba(0, 0, 0, 0.2);
  }
}
  

  /* En index */
  /* colores para la presentacion */
  $colorCentro: rgb(9, 69, 9);
  $colorPrimero: #0b980b;
  $colorExterior: #21db21; 
  $colorMedio: #14ba14;
  $miFondoPresentacion: radial-gradient($colorCentro, $colorPrimero, $colorMedio, $colorExterior);
  .presentacion {
    background-image: $miFondoPresentacion;
    letter-spacing: 3px;
    h1{
      color: $colorBase3;
      text-shadow: $sombraTextoWhite;
      font-size: 40px;
    }
    h2, h4, h5{
      text-shadow: $sombraTextoBlack;
    }
    .redSocial{
      margin-top: 10px;
      font-size: 20px; 
      padding: 15px;
    }
    .fotoPulpo{
      animation: moveUpDown 4s ease-in-out infinite; 
      width: 100%;
      margin-top: 25px;
    }
    @keyframes moveUpDown {
      0% {
        transform: translateY(-10px); 
      }
      50% {
        transform: translateY(10px); 
      }
      100% {
        transform: translateY(-10px); 
      }
    }
    .botonCallToAction{
      @extend %estilosBotones;
    }
    & .redSocial:hover{
      background-color: transparent;
      transition: 2s;
      transform: scale(0.8);
    }
    & .botonCallToAction:hover {
      @include botonesHover;
    }
  }
  .carruselIndex{
    border: $bordes;
    img{
      height: 100vh;
    }
    .carousel-caption{
      h1{
          font-size: 40px;
          color: $colorBase3;
          text-shadow: $sombraTexto;
          margin-bottom: 20px;
        }
      .botonCarrusel{
          @extend %estilosBotones;
        }
  
        & a:hover {
          @include botonesHover;
        }
    } 
  }
  
  .jumbotron {
    font-size: 25px;
    text-align: center;
    background-color: $colorFondo3;
    h1 {
      color: $colorBase3;
      text-shadow: $sombraTexto;
      font-size: 2em;
    }
  }
  .videoPresentacion {
    background-color: $colorFondo3;
    border-radius: 10px;
    display: flex;
    margin-top: 100px;
    flex-flow: column wrap;
    background-image: url(../imgs/Background/abstract-green-background-free-vector.jpg);
    background-size: cover;
    h3 {
      color: $colorBase3;
      text-align: center;
      text-decoration: overline;
      font-size: 35px;
      padding-top: 50px;
      padding-bottom: 50px;
      text-shadow: $sombraTextoWhite;
    }
    blockquote{
      padding-bottom: 50px;
    }
  }
.galeriaTrabajos{
  background-image: $miFondoPresentacion;
  border-radius: 10px;
  .foto {
    @include estiloFotos1();
    margin-top: 50px;
    width: 250px; 
    height: 250px;
  }
  & .foto:hover{
    @include estiloFotosHover1();
  }
}
/* fondo para cards */
$colorCards1: purple;
$colorCards2: rgb(235, 28, 194);
$colorCards3: rgb(249, 58, 182);
$fondoCards: radial-gradient($colorCards3, $colorCards2, $colorCards1);
.cartas{
  margin-top: 50px;
  background-color: $colorFondo3;
    .tituloCards {
      text-decoration: overline;
      color: $colorBase3;
      text-shadow: $sombraTextoWhite;
    }
    .cards {
     height: auto;
     font-size: 16px; 
    }
    .card {
      margin-top: 50px;
      font-size: 18px;
      border: 3px solid black;
      border-radius: 5px;
      background-image: $fondoCards;
    }
    img {
      padding: 5px;
      height: 300px;
      object-fit: cover;
    }
    a{
      @extend %estilosBotones;
    }
}
.carruselVideos{
  background-color: $colorFondo3;
  h2{
    color: $colorBase3;
    text-shadow: $sombraTextoWhite;
    text-decoration: overline;
  }
  p{
    text-align: center;
    text-shadow: $sombraTextoBlack;
  }
  .carousel{
    border: $bordes;
    box-shadow: $sombraBox;
  }
  .carousel-item{
    height: 90vh;
    object-fit: cover;
  }
}



/* medias de index */
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .galeriaTrabajos{
    .foto{
      margin-top: 10px;
    }
    & foto:active{
      @include estiloFotosHover1();
    }
  }
}