@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Salsa&display=swap");
.cartas a, .carousel-caption .botonCarrusel, .presentacion .botonCallToAction {
  width: fit-content;
  text-align: center;
  margin: 10px;
  color: #ffffff;
  background-color: green;
  border: 3px solid black;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
}

/* En general */
h1,
h2,
h3 {
  font-family: "Berkshire Swash", serif;
}

body {
  color: #ffffff;
  font-family: "Salsa", cursive;
  background-image: linear-gradient(to top, #00ff00, #2ecc33, #27ae32, #239621, #1e8423, #196f27, #138d2b, #117a11, #0e6615, #0b500f);
  font-size: 20px;
}

.navbar {
  font-size: 25px;
  background-color: green;
  list-style: none;
  padding: 25px;
  background-size: cover;
}
.navbar .nav-item {
  padding: 20px;
}
.navbar .navbar img {
  margin-right: 25px;
}
.navbar #barraDrop {
  color: yellow;
}
.navbar .redes i {
  padding-right: 5px;
}

.footer {
  background-color: green;
  font-size: 20px;
  margin-top: 25px;
}

/* En index */
.presentacion {
  background-image: radial-gradient(rgb(40, 0, 40), rgb(70, 0, 70), rgb(100, 0, 100), rgb(130, 0, 130));
  letter-spacing: 3px;
}
.presentacion h1 {
  color: black;
  text-shadow: 2px 2px 5px white;
  font-size: 60px;
}
.presentacion h2, .presentacion h4, .presentacion h5 {
  text-shadow: 2px 2px 5px black;
}
.presentacion .redSocial {
  margin-top: 30px;
  font-size: 20px;
  padding: 15px;
}
.presentacion .fotoPulpo {
  animation: moveUpDown 4s ease-in-out infinite;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.presentacion .redSocial:hover {
  background-color: transparent;
  transition: 2s;
  transform: scale(0.8);
}
.presentacion .botonCallToAction:hover {
  background-color: rgb(69, 255, 1);
  border: 3px solid gold;
  box-shadow: 2px 0px 10px 5px purple;
}

.carousel-caption h1 {
  font-size: 40px;
  color: black;
  text-shadow: 5px -6px 4px gold;
  margin-bottom: 20px;
}
.carousel-caption a:hover {
  background-color: rgb(69, 255, 1);
  border: 3px solid gold;
  box-shadow: 2px 0px 10px 5px purple;
}

.jumbotron {
  font-size: 25px;
  text-align: center;
  background-color: rgba(34, 139, 34, 0.674);
}
.jumbotron h1 {
  color: black;
  text-shadow: 5px -6px 4px gold;
  font-size: 2em;
}

.videoPresentacion {
  background-color: rgba(34, 139, 34, 0.674);
  border-radius: 10px;
  display: flex;
  margin-top: 100px;
  flex-flow: column wrap;
  background-image: url(../imgs/Background/abstract-green-background-free-vector.jpg);
  background-size: cover;
}
.videoPresentacion h3 {
  text-align: center;
  text-decoration: overline;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 5px -6px 4px gold;
}
.videoPresentacion blockquote {
  padding-bottom: 50px;
}

.galeriaTrabajos {
  margin-top: 150px;
  background-color: rgba(34, 139, 34, 0.674);
  border-radius: 10px;
}
.galeriaTrabajos h1 {
  padding-top: 50px;
  text-decoration: underline;
}
.galeriaTrabajos .foto {
  border: 3px solid black;
  border-radius: 10px;
  filter: grayscale(100%) blur(2px);
  margin-top: 50px;
}
.galeriaTrabajos .foto:hover {
  border: 5px solid purple;
  transform: scale(0.9);
  transition: all 0.9s;
  filter: grayscale(0%) blur(0px);
}

.cartas {
  margin-top: 50px;
  background-color: rgba(34, 139, 34, 0.674);
}
.cartas .tituloCards {
  text-decoration: overline;
  color: black;
  text-shadow: 2px 2px 5px white;
}
.cartas .cards {
  height: auto;
}
.cartas .card {
  color: black;
  margin-top: 50px;
  font-size: 18px;
  background-color: rgba(255, 217, 0, 0.8);
  border: 3px solid black;
  border-radius: 5px;
}
.cartas img {
  padding: 5px;
}
/* medias de index */
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .galeriaTrabajos .foto {
    margin-top: 10px;
  }
  .galeriaTrabajos foto:active {
    border: 5px solid purple;
    transform: scale(0.9);
    transition: all 0.9s;
    filter: grayscale(0%) blur(0px);
  }
}

/*# sourceMappingURL=styles.css.map */
