form{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #85f86ed2;
    background-image: url("./imagenes/pulpo.png");
    background-position: 200px;
    background-repeat:repeat;
    background-position-x: center;
    background-position-y: 100px;
    background-attachment: scroll;
    background-size: 6cm;
} 

head{
    font:
      5em "Helvetica",
      sans-serif;
      text-align: center;
}
.boton{
margin: 10px 0 0 80px; ;
}
/*editamos el texto de las <label>*/
label {
    font:
      1em "Helvetica",
      sans-serif;
  }
/*Para que la apariencia de sus formularios sea consistente con el resto de su contenido, 
puede agregar las siguientes reglas a su hoja de estilo:*/
button,
input,
select {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100%;
  color: rgb(0, 0, 0);
  padding: 4px 25px;
  background: rgba(240, 248, 255, 0.575);
  border: 1px solid #0b3303;
  border-radius: 3.5px;
  border: 1px solid;
}
/*Para dar el mismo tamaño a varios controles diferentes,
 puede usar la propiedad box-sizing junto con algunos valores consistentes para otras propiedades:*/ 
input,
textarea,
select,
button {
  width: 190px;
  padding:0cm;
  margin: 0;
  box-sizing: border-box;
}
/* editamos campos de texto, eliminamos sus borders y backgrounds, y redefinimos sus padding y margin: */
input,
textarea {
  font:
    1.4em/1.5em "handwriting",
    cursive,
    sans-serif;
  border:#000000;
  padding: 0 10px;
  margin: 1;
  width: 50%;
  background:rgba(240, 248, 255, 0.829);
 text-align: center;
 border: 1px solid black;
}
/*Cuando uno de estos campos tienen el foco, lo resaltamos con un fondo transparente negro:*/
input:focus,
textarea:focus {
  background: solid rgba(10, 9, 9, 0.658);
  border-radius: 5px;
}
/* La propiedad overflow se usa para hacer que el campo se represente de manera más consistente en todos los navegadores.*/
textarea {
    display: block;
  
    padding: 10px;
    margin: 10px 0 0 360px;
    width: 50%;
    height: 90%;
    border: 1px solid;
  
    /* resize  : none; */
    overflow: auto;
  }
