h1 {
    color: aliceblue;
    font-size: 60px;
    text-align: center;
    font-family: fantasy;
    text-decoration:overline;
    border-color: rgb(10, 7, 7);
}
body{
    background-color: rgb(5, 83, 18);
}

.ParrafoIndex{
    color: rgb(252, 252, 252);
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
img{
    width: 500px;
    height: auto;
}
/* esto es para poner un marco a la imagen*/
.ContenedorDeImagenes {
    display: flex;
  }
.ContenedorDeImagenes img{
    margin-left: 50px;
}
.ContenedorDeImagenes img:first-child {
    margin-right: -5px;
  }
.ContenedorDeImagenes{
    margin-left: 50px;
    padding: 6px;
    background-color: rgb(159, 255, 159, 0.719);
    
    width: 1150px;
    border-bottom: 1px solid green;
   border-right: 1px solid green;
   border-top: 1px solid green;
   border-left: 1px solid green;
   text-align: center;
}
.ContenedorDeImagenes{
    border: 1px solid black;
}

.LinkAbout{
    text-align: center;
}
.FotoDerecha{
    text-align: right;
    width: 100px;
    height: auto;
}
.boton{
    padding: 4px 25px;
    background: rgb(153, 226, 135);
    border: 1px solid #0b3303;
    color: solid black;
    border-radius: 4px;
    text-decoration:wavy;
    font-family: Arial, Helvetica, sans-serif;
}
.Texto{
    text-align: center;
    text-decoration:dotted;
    font-size: x-large;
    font-family:fantasy;
    text-decoration: underline;
}
/* para poner una imagen de fondo y que se mueva al scrollear
div{
    background: url("./imagenes/logo-removebg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
 
